<h1>{{ details.name }}</h1>
<div class="btn-group" appDropdown>
  <button class="btn btn-primary dropdown-toggle">
    Manage Recipe <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a  (click)="addToIngList(details.ingredients)"
        >To Shopping List</a
      >
    </li>
    <li><a  (click)="onNavigate()">Edit Recipe</a></li>
    <li><a>Delete Recipe</a></li>
  </ul>
</div>
<p>{{ details.description }}</p>
<p *ngFor="let ingredient of details.ingredients" #ingred>
  {{ ingredient.name }}{{ ingredient.amount }}
</p>

<img src="{{ details.imagePath }}" alt="" />
