<div class="container col-md-5">
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        aria-label="name"
        aria-describedby="basic-addon1"
        #name
      />
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Description</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="description"
        aria-label="description"
        aria-describedby="basic-addon2"
        #description
      />
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Image Path</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="img"
        aria-label="img"
        aria-describedby="basic-addon3"
        #img
      />
    </div>
    <button class="btn btn-success">
      New Recipe
      <!-- (click)="newRecipe(name.value, description.value, img.value)" -->
    </button>
    <div class="row">
      <app-recipe-item
        *ngFor="let recipeEl of recipes; let i = index"
        [recipeItem]="recipeEl"
        class="col-xs-12"
      ></app-recipe-item>
    </div>
    <app-recipe-detail
      [details]="recDetails"
      *ngIf="recDetails; else info"
    ></app-recipe-detail>
    <ng-template #info>
      <p>please select recipe</p>
    </ng-template>
  </div>
</div>
